<<<<<<< HEAD
<!--<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6">-->
      {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}
=======
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
>>>>>>> de5d5c4faf718148a900da2fbf0e0d0211d09814
<head> 
    <link rel='stylesheet' href='/stylesheets/style3.css' />
</head>
<h1>ACEBOOK</h1>
<body>
    <input type="radio" id="chk1" name="a1" style="display: none;">
    <input type="radio" id="chk2" name="a1" style="display: none;">
    <div class="box">
          <div class="a">
            <label for="chk1">Login</label>
            <label for="chk2" id="sup">Sign up</label>
    </div>
    <div class="b">
<<<<<<< HEAD
        <form id="signup-form" method="POST" action="/signup"  class="frm">
            <h6 class="title">Lets be friends!</h6>
            <input type="text" placeholder="Enter username" name="username" required>
            <input type="password" placeholder="Enter password" name="password" required>
            <input type="submit" value="Sign up" id="btn" >
            <label for="chk1"  id="btm">Sign up</label> <!--signup form-->
        </form>
        <br><h6 class="mes">password min of 4 chr</h6><br>
    </div>
    <div class="c">
        
        <form action="/login" method="POST" class="frm">
            <h6 class="title">Welcome back friend!</h6>
            <input type="text" placeholder="Enter username" name="username" required>
            <input type="password" placeholder="Enter password" name="password" required>
            <input type="submit" value="login" id="btn" >
            <label for="chk2" id="btm">Login</label>
=======
        <form id="login-form" method="POST" action="/login"  class="frm">
            <h6 class="title">Lets be friends!</h6>
            <input type="title" placeholder="Enter username" required>
            <input type="title" placeholder="Enter password" required>
            <input type="button" value="Sign up" id="btn">
            <label for="chk1"  id="btm">Sign-up here</label>
        </form>
    </div>
    <div class="c">
        
        <form action="" class="frm">
            <h6 class="title">Welcome back friend!</h6>
            <input type="title" placeholder="Enter username">
            <input type="title" placeholder="Enter password">
            <input type="button" value="login" id="btn" href="/signup">
            <label for="chk2" id="btm">Login here</label>
>>>>>>> de5d5c4faf718148a900da2fbf0e0d0211d09814
        </form>
    </div>
    <div class="d"></div>
    <div class="e"></div>
    </div>
</body>