<link rel='stylesheet' href='/stylesheets/style2.css' />
</div>
<div>
<div style="background-image: url(https://i.pinimg.com/originals/ef/43/7e/ef437ec9e020e032274efe7a8747e1ea.jpg);"></div>
</div>
<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
<p id='head1' class='header'>WELCOME</p>
<p id='head2' class='header'>TO THE WORLD  </p>
<p id='head3' class='header'>OF</p>
<p id='head4' class='header'>ACEBOOK!</p>
<p id='head5' class='header'>Click button to start</p>
<button><a href="/login">START</a></button>
  <div class='light x1'></div>
  <div class='light x2'></div>
  <div class='light x3'></div>
  <div class='light x4'></div>
  <div class='light x5'></div>
  <div class='light x6'></div>
  <div class='light x7'></div>
  <div class='light x8'></div>
  <div class='light x9'></div>