<link rel='stylesheet' href='/stylesheets/style4.css' />

<div class="row justify-content-md-center" style="margin-top: 100px">
    <div class="col-md-6 box-new-post">
 

<form id="new-post-form" action="/posts" method="post">
                   <div class="form-group">
                 <textarea class="form-no-border" name="message" rows="5" cols="30" placeholder="Type Message Here"></textarea><br>
            </div>
            <button type="submit" class="btn button-color"><i class="fa fa-share-square fa-3x"></i></button>

        </form>
        </div>

        </div>
        